<div class="home-container center row">
  <!-- タイトル -->
  <div class="col-lg-12 col-md-12 col-xs-12 welcome-wrapper">
    <div>
      <div class="welcome-message">Welcome to Anime Searcher!</div>
      <div class="welcome-message-subtitle">あなただけのアニメリストを作って共有。隠れた名作に出会えるかも…？</div>
    </div>
  </div>

  <!-- サイトコンテンツ -->
  <div class="row contents-container">
    <div class="col-lg-12 col-md-6 col-xs-12 welcome-wrapper">
      <h1 class="page-title" style="color:gray; text-decoration: underline;">コンテンツ</h1>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="btns-wrapper">
        <div class="title-small"><i class="fas fa-search" style="margin-right:5px"></i>新しいアニメを探す</div>
        <div class="btn-original rounded">
          <%= link_to "アニメ一覧", animes_path, class: "btn-login-extend", style: "margin-bottom:20px;" %>
        </div>
        <%= link_to image_tag(asset_path("home.png"),
                            class: "img-balancer", alt: "Home_image", height: "300px", width: "220px"), anime_path(id: 12) %>
        <div class="" style="color:gray; margin-bottom: 20px;">クリック！↑</div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="btns-wrapper">
        <div class="title-small"><i class="far fa-address-card" style="margin-right:5px"></i>Myアニメリストをつくる</div>
        <div class="btn-original rounded">
          <!-- ゲストログイン画面に移行　-->
          <%= link_to "ゲストログイン", guest_path, method: :post, class: "btn-login-extend", style:"background:#8B0000;" %>
        </div><br />
        <div class="btn-original rounded">
          <!-- 新規登録画面に移行　-->
          <%= link_to signup_path, class: "btn-login-extend" do %>
            <i class="fas fa-user-check" style="margin-right:5px"></i>アカウント登録
          <% end %>
        </div><br />
        <div class="btn-original rounded">
          <!-- ログイン画面に移行　-->
          <%= link_to login_path, class: "btn-login-extend" do %>
            <i class="fas fa-lock" style="margin-right:10px"></i>ログイン
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="btns-wrapper">
        <div class="title-small"><i class="fas fa-search" style="margin-right:5px"></i>他のアニメリストをみる</div>
          <div class="btn-original rounded">
            <%= link_to "登録ユーザー", users_path, class: "btn-login-extend" %>
          </div>
      </div>
    </div>
  </div>

  <!-- ご利用方法 -->
  <div class="row contents-container" style="width:100%;">
    <div class="col-lg-12 col-md-12 col-xs-12 welcome-wrapper">
      <h1 class="page-title" style="color:gray; text-decoration: underline;">ご利用方法</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12">
      <!-- <div class="btns-wrapper" style="width:auto;"> -->
        <p class="page-title" style="font-size:18px; color:gray; text-align: left;">
          １. <strong style="text-decoration: underline;">「アニメ一覧」から好きなアニメを検索！</strong>
        </p>
        <p class="page-title" style="font-size:18px; color:gray; text-align: left;">
          ２. <strong style="text-decoration: underline;">「アカウント登録」すると、自分だけのお気に入りアニメリストを作成可能！</strong>
        </p>
        <p class="page-title" style="font-size:18px; color:gray; text-align: left;">
          ３. <strong style="text-decoration: underline;">「登録ユーザー」から他のユーザーのアニメリストを覗いて参考に！</strong>
        </p>
        <p class="page-title" style="font-size:18px; color:gray; text-align: left;">
          ４. <strong style="text-decoration: underline;">気になったユーザーはフォローできます！(※登録済みのユーザーのみ)</strong>
        </p>
      <!-- </div> -->
    </div>
  </div>

</div>
