<% provide(:title, @user.name) %>

<h3>マイページ（ユーザー画面）</h3>

<div class="container show-container">
  <div class="row" style="height:600px;">
    <div class="col-lg-3 bg-secondary" style="height:600px;">
      <div class="bg-info" style="height:200px;">
        <h3 class="userinfo-container">
          <%= gravatar_for @user %><br />
          <%= @user.name %>
        </h3>
      </div>
      <div class="bg-primary" style="height:200px;">
        <p>フォロー数：</p>
        <p>フォロワー数：</p>
        <p>お気に入りアニメ数：<%= @favorites.count %></p>
      </div>
      <div class="bg-info" style="height:200px;">
        <p>ユーザー名：<br/><%= @user.name %></p>
        <% if current_user?(@user) %>
          <p>メールアドレス：<br/><%= @user.email %></p>
        <% end %>
      </div>
    </div>
    <div class="col-lg-9 animes-fav" style="height:600px; background-color:rgba(255,204,204,1);">
      <div class="welcome-message" style="margin-top: 0;">My アニメリスト</div>
      <div class="row">
        <div class="col-lg-6">
          <div class="btn-original rounded fav-count">
            お気に入りアニメ数：<%= @favorites.count %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="btn-original rounded fav-count">
            <i class="fas fa-search" style="margin-right:5px"></i><%= link_to "アニメ検索", animes_path %>
          </div>
        </div>
      </div>
      <%= will_paginate @favorites, list_classes: %w(pagination justify-content-center),
                        previous_label: '&laquo; 前へ', next_label: '次へ &raquo;' %>
        <% @favorites.each do |favorite| %>
          <li class="animes-fav-list"><%= link_to favorite.anime.title, anime_path(favorite.anime.id) %></li>
        <% end %>
      <%= will_paginate @favorites, list_classes: %w(pagination justify-content-center),
                        previous_label: '&laquo; 前へ', next_label: '次へ &raquo;' %>
    </div>
  </div>
</div>

<!-- 仮実装ページ -->

<h3>マイページ（ユーザー画面）</h3>

<p>※ログインしています！</p>

<!-- Userコントローラのshowアクションに変数userを定義 -->
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<br />
<p>ユーザー名　　： <%= @user.name %></p>
<p>メールアドレス： <%= @user.email %></p>
<p>アカウント作成時刻： <%= @user.created_at %></p>
<p>アカウント編集時刻： <%= @user.updated_at %></p>

<p>現在時刻：<%= Time.now %></p>
