<% provide(:title, @user.name) %>
<div class="container show-container">
  <div class="row" style="height:600px;">

    <!-- ユーザー情報 -->
    <div class="col-lg-4" style="height:600px; margin:auto; background-color:#FFEEFF; border-radius:0.3em;">
      <div style="margin: 20px 0 20px 0;">
        <h3 class="userinfo-container">
          <%= gravatar_for @user %><br/>
          <%= @user.name %>
        </h3>

        <% if current_user.nil? == false %>
          <% unless current_user?(@user) %>
            <div id="follow_form">
              <% if current_user.following?(@user) %>
                <%= form_with(model: current_user.following_relationships.find_by(following_id: @user.id), local: true, method: :delete) do |f| %>
                  <%= f.submit "フォロー解除", class: "btn btn-large btn-danger form-submit" %>
                <% end %>
              <% else %>
                <%= form_with(model: current_user.following_relationships.build(following_id: @user.id), local: true) do |f| %>
                  <%= f.hidden_field :following_id %>
                  <%= f.submit "フォローする", class: "btn btn-large btn-primary form-submit" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>

      </div>

      <div style="margin: 40px 0 20px 0;">
        <% @user ||= current_user %>

        <div class="title-small" style="display: block; margin:auto; margin-top:10px; margin-bottom:10px;">
          フォロー中：<%= @user.followings.count %>
          <a href="<%= following_user_path(@user) %>" style="color:blue;">
            （一覧）
          </a>
        </div>

        <div class="title-small" style="display: block; margin:auto; margin-top:10px; margin-bottom:10px;">
          フォロワー：<%= @user.followers.count %>
          <a href="<%= followers_user_path(@user) %>" style="color:blue;">
            （一覧）
          </a>
        </div>

        <div class="title-small" style="display: block; margin:auto; margin-top:10px; margin-bottom:10px;">
          お気に入りアニメ数：<%= @favorites.count %>
        </div>
      </div>

      <div class="userinfo" style="text-align: center;">
        <% if current_user?(@user) %>
          <p>＜ユーザー名＞<br/><%= @user.name %></p>
          <p>＜メールアドレス＞<br/><%= @user.email %></p>
        <% end %>
      </div>
    </div>

    <!-- Myアニメリスト -->
    <div class="col-lg-8 animes-fav" style="height:600px; background-color:rgba(255,204,204,1);">
      <div class="welcome-message" style="margin-top: 0;">My アニメリスト</div>
      <div class="btn-original rounded fav-count" style="margin-bottom:20px;">
        <%= link_to animes_path, class: "btn-login-extend" do %>
        <i class="fas fa-search" style="margin-right:5px"></i>アニメ検索
        <% end %>
      </div>

      <div style="margin-bottom:20px;">
        <%= will_paginate @favorites, list_classes: %w(pagination justify-content-center),
                          previous_label: '&laquo; 前へ', next_label: '次へ &raquo;' %>
          <% @favorites.each do |favorite| %>
            <li class="animes-fav-list"><%= link_to favorite.anime.title, anime_path(favorite.anime.id) %></li>
          <% end %>
        <%= will_paginate @favorites, list_classes: %w(pagination justify-content-center),
                          previous_label: '&laquo; 前へ', next_label: '次へ &raquo;' %>
      </div>

      <div class="title-small" style="display: block; margin:auto;">
        お気に入りアニメ数：<%= @favorites.count %>
      </div>
    </div>
  </div>
</div>
