<% provide(:title, 'アニメ一覧') %>
<h1 class="form-title">アニメ一覧</h1>

<% if logged_in? && current_user.admin? %>
  <div class="form-container jumbotron">
    <h1 class="form-title">アニメデータ 新規投稿</h1>
    <%= render 'data_form' %>
  </div>
<% end %>

<%= render 'select_form' %>

<div class="pagination-control">
  <%= will_paginate @animes, list_classes: %w(pagination justify-content-center),
                    previous_label: '&laquo; 前へ', next_label: '次へ &raquo;' %>
</div>

<ul class="animes">
  <p class="index-option-memo">表示順: 投稿が新しい順</p>
  <%= render @animes %>
</ul>

<div class="pagination-control">
  <%= will_paginate @animes, list_classes: %w(pagination justify-content-center),
                    previous_label: '&laquo; 前へ', next_label: '次へ &raquo;' %>
</div>
