<% provide(:title, @anime.title) %>
<!-- アニメ紹介ページ（アニメ詳細表示画面） -->

<div class="container home-container">
  <div class="row">
    <div class="col-lg-12" style="background-color: #FFEEFF;">
      <p style="font-size:30px; color: #8B0000; font-weight: bold; float: left;">
        ・<%= @anime.title %>
      </p>
      <% if current_user.nil? == false %>
        <% if current_user.checkfav?(@anime) %>
          <%= form_with(model: current_user.favorites.find_by(anime_id: @anime.id), local: true, method: :delete) do |f| %>
            <%= hidden_field_tag :anime_id, @anime.id %>
            <%#= f.submit '登録解除', class: 'btn btn-danger' %>
            <%= f.button :type => "submit", style: 'border-style: none; background-color: #FFEEFF; float: right;' do %>
              <i class="fas fa-heart unlike-btn"></i>
            <% end %>
          <% end %>
        <% else %>
          <%= form_with(model: current_user.favorites.build, local: true) do |f| %>
            <%= hidden_field_tag :anime_id, @anime.id %>
            <%#= f.submit 'お気に入り登録', class: 'btn btn-primary' %>
            <%= f.button :type => "submit", style: 'border-style: none; background-color: #FFEEFF; float: right;' do %>
              <i class="far fa-heart like-btn"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-5 rounded" style="background-color:rgba(255,204,204,0.95);">
      <div class="title-small" style="display: block; margin: 20px auto 20px auto; font-size:30px;">
        <i class="fas fa-heart" style="color:red;"></i>  <%= @favorites.count %>
        <%= link_to favorite_users_anime_path(@anime), style:"color:#283375;" do %>
          <strong style="font-size:15px;">（一覧を見る）</strong>
        <% end %>
      </div>
      <div style="display:block;">
        <%= image_tag(asset_path('coming_soon.png'), :size =>'300x350', :style => 'display:block; margin:20px auto 20px auto;') %>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="bg-light rounded" style="padding:10px 10px 0 10px;">
        <p>スタッフ・出演者：</p><br/>
        <p></p><br/>
        <p></p><br/>
        <p></p>
      </div>
      <div class="bg-light rounded" style="padding:10px 10px 0 10px;">
        <p>放送時間：</p><br/>
        <p></p><br/>
        <p></p><br/>
        <p></p>
      </div>
    </div>
    <div class="col-lg-12" style="margin-top:20px;">
      <div class="bg-light rounded" style="padding:10px 10px 0 10px;">
        <p>アニメ紹介文：</p>
        <p>「<%= @anime.description %>」</p><br/>
        <p></p>
      </div>
    </div>
  </div>
</div>
